<!DOCTYPE html>
<html lang="en">

            <div class="container">
                <h1 class="title">Riddle Game </h1>
                <h2 class="sub">You must first pick a username </h2>
                <div class="mailing-list">
                    <!-- FORM -->
                    <form method="POST" class="form-inline">
                        <input type="text" class="form-control" placeholder="username" name="username" id="username" autofocus>
                        <button class="btn btn-danger">continue </button>
                    </form>
                </div>
            </div>
        </div>



        <!-- FOOTER -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4>&copy;2018 Jonathan Bencomo</h4>
                    </div>
                    <div class="col-md-6">
                        <h4 class="credit">A project for the Code Institute, Dublin - Ireland </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
